@import "tailwindcss";
@import "tw-animate-css";
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
	:root {
		--background: #ededed;
		--background-1: #ebebeb;
		--foreground: #222222;
		--shadow-color: rgba(55, 53, 47, 0.09);
		--border-color: #37352f17;
		--inactive: #c9c9c9;
		--light-active: rgb(39, 39, 39);

		--placeholder: rgb(110, 110, 110);
		--hover-background: rgba(55, 53, 47, 0.06);
		--active-background: rgba(55, 53, 47, 0.16);
		/* --theme-dark: rgb(37, 72, 145);
		--theme-normal: rgb(37, 72, 145);
		--theme-light: rgb(37, 72, 145); */

		--theme-dark: rgb(240, 192, 48);
		--theme-normal: rgb(238, 194, 63);
		--theme-light: rgb(243, 214, 129);
	}

	.dark {
		--background: #222222;
		--background-1: #161616;
		--foreground: #ededed;
		--shadow-color: rgba(255, 255, 255, 0.094);
		--border-color: rgba(255, 255, 255, 0.094);
		--inactive: #3a3939;
		--light-active: rgb(209, 209, 209);

		--placeholder: rgb(158, 158, 158);
		--hover-background: rgba(255, 255, 255, 0.055);
		--active-background: rgba(255, 255, 255, 0.03);

		--theme-dark: #111111;
		--theme-normal: #131313;
		--theme-light: #171717;


	}
}

@theme inline {
	--font-oswald: var(--font-oswald), sans-serif;
	--font-nunito: var(--font-nunito), sans-serif;

	--color-background: var(--background);
	--color-background-1: var(--background-1);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);

	--shadow-box-shadow-first: 0px 1px 0px var(--shadow-color);
	--color-button-border-color: var(--border-color);
	--color-hover-background: var(--hover-background);
	--color-active-background: var(--active-background);
	--color-inactive: var(--inactive);
	--color-light-active: var(--light-active);
	--color-placeholder: var(--placeholder);
	--color-theme-dark: var(--theme-dark);
	--color-theme-normal: var(--theme-normal);
	--color-theme-light: var(--theme-light);


	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
}

:root {
	--radius: 0.625rem;
	--background: oklch(1 0 0);
	--foreground: oklch(0.145 0 0);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.145 0 0);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.145 0 0);
	--primary: oklch(0.205 0 0);
	--primary-foreground: oklch(0.985 0 0);
	--secondary: oklch(0.97 0 0);
	--secondary-foreground: oklch(0.205 0 0);
	--muted: oklch(0.97 0 0);
	--muted-foreground: oklch(0.556 0 0);
	--accent: oklch(0.97 0 0);
	--accent-foreground: oklch(0.205 0 0);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(86.995% 0.0001 271.152);
	--input: oklch(0.922 0 0);
	--ring: oklch(0.708 0 0);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.145 0 0);
	--sidebar-primary: oklch(0.205 0 0);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.97 0 0);
	--sidebar-accent-foreground: oklch(0.205 0 0);
	--sidebar-border: oklch(0.922 0 0);
	--sidebar-ring: oklch(0.708 0 0);
}

.dark {
	--background: oklch(0.145 0 0);
	--foreground: oklch(0.985 0 0);
	--card: oklch(0.205 0 0);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.205 0 0);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.922 0 0);
	--primary-foreground: oklch(0.205 0 0);
	--secondary: oklch(0.269 0 0);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.269 0 0);
	--muted-foreground: oklch(0.708 0 0);
	--accent: oklch(0.269 0 0);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.556 0 0);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.205 0 0);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.269 0 0);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.556 0 0);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}

	body {
		@apply bg-background text-foreground;
	}


	.scrollbar-hide::-webkit-scrollbar {
		display: none;
	}

	.light-gradient {
		@apply bg-[#FEFAE0];
	}

	.scrollbar-hide {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}



}


.MuiDataGrid-root,
.MuiDataGrid-root * {
	outline: none !important;
	border: none !important;
	background-color: var(--color-background) !important;
	color: var(--color-light-active) !important;
}


.MuiDataGrid-root {
	/* border: 1px solid #cacaca !important; */
	border-radius: 10px !important;
	box-shadow: 0 0px 5px var(--color-border);
}

.MuiDataGrid-row {
	border-bottom: 1px solid #d3d2d250 !important;
}

/* CELLS */
.MuiDataGrid-cell,
.MuiDataGrid-cell:focus,
.MuiDataGrid-cell:focus-within {
	outline: none !important;
}

.MuiDataGrid-cell {
	border-right: 1px solid var(--border-color) !important;
	border-bottom: 2px solid var(--border-color) !important;

}

.MuiDataGrid-row--lastVisible .MuiDataGrid-cell {
	border-bottom: 2px solid var(--border-color) !important;

}



.MuiDataGrid-columnHeaders {
	border-bottom: 2px solid #a3a3a350 !important;
	height: 40px;
}

/* COLUMN HEADERS */
.MuiDataGrid-columnHeader,
.MuiDataGrid-columnHeader:focus,
.MuiDataGrid-columnHeader:focus-within {
	outline: none !important;

}

.MuiDataGrid-columnHeaderTitle {
	font-family: "nunito";
	font-weight: 700 !important;
}

/* ROWS */
.MuiDataGrid-row,
.MuiDataGrid-row:focus,
.MuiDataGrid-row:focus-within {
	outline: none !important;
	font-family: "nunito";
	font-weight: 600 !important;

}

.MuiDataGrid-columnSeparator {
	visibility: "visible";
	color: "#d1d5db";
}

.MuiDataGrid-footerContainer {
	border-top: 1px solid #a1a1a150 !important;

}

.MuiDataGrid-cell.MuiDataGrid-cell--editing,
.MuiDataGrid-columnHeader:focus-visible,
.MuiDataGrid-cell:focus-visible {
	outline: none !important;
	box-shadow: none !important;

}